{% if site.socials %}

<div class="footer-icons">
  {% if site.socials.email %}
  <a href="mailto:{{ site.socials.email }}" target="_blank">
    <i class="fa-solid fa-envelope fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.github %}
  <a href="{{ site.socials.github }}" target="_blank">
    <i class="fa-brands fa-github fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.discord %}
  <a href="{{ site.socials.discord }}" target="_blank">
    <i class="fa-brands fa-discord fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.facebook %}
  <a href="{{ site.socials.facebook }}" target="_blank">
    <i class="fa-brands fa-facebook fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.instagram %}
  <a href="{{ site.socials.instagram }}" target="_blank">
    <i class="fa-brands fa-instagram fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.youtube %}
  <a href="{{ site.socials.youtube }}" target="_blank">
    <i class="fa-brands fa-youtube fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.x %}
  <a href="{{ site.socials.x }}" target="_blank">
    <i class="fa-brands fa-x-twitter fa-xl"></i>
  </a>
  {% endif %} {% if site.socials.linkedin %}
  <a href="{{ site.socials.linkedin }}" target="_blank">
    <i class="fa-brands fa-linkedin fa-xl"></i>
  </a>
  {% endif %}
</div>

{% endif %}

<hr />

{% if site.back_to_top_text %}
<a href="#top">{{ site.back_to_top_text }}</a>
{% endif %}

<p>Contributors to this page: <span id="contributors"></span></p>

<script>
  try {
    const contributors = document.getElementById('contributors')
    let path = window.location.href.split('#')[0].split('/').splice(3).join('/')
    if (path.endsWith('/')) {
      path += 'index.md'
    } else if (path.endsWith('.html')) {
      path = path.replace('.html', '.md')
    }
    if (path == '') {
      path = 'index.md'
    }
    const url = `https://api.github.com/repos/astroclubiitk/wiki/commits?path=${path}`
    fetch(url)
      .then(response => response.json())
      .then(data => {
        const names = data.map(commit => commit.commit.committer.name)
        const uniqueNames = [...new Set(names)]
        const links = uniqueNames.map(
          name =>
            `<a href="https://github.com/${name}" target="_blank">@${name}</a>`
        )
        contributors.innerHTML = links.join(', ')
      })
      .catch(err => {
        console.error(err)
        contributors.innerHTML = 'Could not fetch contributors!'
      })
  } catch (error) {
    console.error(error)
    alert('Enable JS for the website on your browser!')
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const shareLine = document.createElement('p')
    shareLine.innerHTML = `Liked what you read? &nbsp;&nbsp; <span class="btn" onclick="shareFunction()">Share this page!</span>`
    document.querySelector('main').appendChild(shareLine)
  })
</script>
